USE [master]
GO
/****** Object:  Database [DB_VIDEOJUEGOS]    Script Date: 13/02/2016 18:10:09 ******/
CREATE DATABASE [DB_VIDEOJUEGOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_VIDEOJUEGOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\DB_VIDEOJUEGOS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_VIDEOJUEGOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\DB_VIDEOJUEGOS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_VIDEOJUEGOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_VIDEOJUEGOS]
GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 13/02/2016 18:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GENERO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
 CONSTRAINT [PK_GENERO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JUEGO]    Script Date: 13/02/2016 18:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JUEGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ANHO] [int] NOT NULL,
	[FECHA_LANZAMIENTO] [date] NOT NULL,
	[ESTUDIO] [varchar](50) NOT NULL,
	[PRECIO] [decimal](9, 2) NOT NULL,
	[TAGS] [varchar](30) NULL,
	[DESCRIPCION] [varchar](200) NULL,
 CONSTRAINT [PK_JUEGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JUEGO_GENERO]    Script Date: 13/02/2016 18:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUEGO_GENERO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_JUEGO] [int] NOT NULL,
	[ID_GENERO] [int] NOT NULL,
 CONSTRAINT [PK_JUEGO_GENERO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PACK]    Script Date: 13/02/2016 18:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PACK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[PRECIO] [decimal](9, 2) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
 CONSTRAINT [PK_PACK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PACK_DETALLE]    Script Date: 13/02/2016 18:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACK_DETALLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PACK] [int] NOT NULL,
	[ID_JUEGO] [int] NOT NULL,
 CONSTRAINT [PK_PACK_DETALLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 13/02/2016 18:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[GENERO] ON 

GO
INSERT [dbo].[GENERO] ([ID], [NOMBRE], [DESCRIPCION]) VALUES (1, N'RPG', N'Juegos RPG')
GO
INSERT [dbo].[GENERO] ([ID], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Plataformas', N'Juegos de Plataformazds')
GO
INSERT [dbo].[GENERO] ([ID], [NOMBRE], [DESCRIPCION]) VALUES (4, N'ACCION', NULL)
GO
SET IDENTITY_INSERT [dbo].[GENERO] OFF
GO
SET IDENTITY_INSERT [dbo].[JUEGO] ON 

GO
INSERT [dbo].[JUEGO] ([ID], [NOMBRE], [ANHO], [FECHA_LANZAMIENTO], [ESTUDIO], [PRECIO], [TAGS], [DESCRIPCION]) VALUES (1, N'God of War 1', 2005, CAST(0xB72B0B00 AS Date), N'Santa Monica Studios', CAST(69.00 AS Decimal(9, 2)), NULL, NULL)
GO
INSERT [dbo].[JUEGO] ([ID], [NOMBRE], [ANHO], [FECHA_LANZAMIENTO], [ESTUDIO], [PRECIO], [TAGS], [DESCRIPCION]) VALUES (2, N'God of War 2', 2007, CAST(0x063B0B00 AS Date), N'Santa Monica Studios', CAST(79.00 AS Decimal(9, 2)), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[JUEGO] OFF
GO
SET IDENTITY_INSERT [dbo].[JUEGO_GENERO] ON 

GO
INSERT [dbo].[JUEGO_GENERO] ([ID], [ID_JUEGO], [ID_GENERO]) VALUES (1, 1, 4)
GO
SET IDENTITY_INSERT [dbo].[JUEGO_GENERO] OFF
GO
SET IDENTITY_INSERT [dbo].[PACK] ON 

GO
INSERT [dbo].[PACK] ([ID], [NOMBRE], [PRECIO], [DESCRIPCION]) VALUES (2, N'PACK FINAL FANTASY PS1 COLLECTION', CAST(100.00 AS Decimal(9, 2)), NULL)
GO
INSERT [dbo].[PACK] ([ID], [NOMBRE], [PRECIO], [DESCRIPCION]) VALUES (1003, N'PACK GOD OF WAR COLLECTION', CAST(129.00 AS Decimal(9, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[PACK] OFF
GO
ALTER TABLE [dbo].[JUEGO_GENERO]  WITH CHECK ADD  CONSTRAINT [FK_JUEGO_GENERO_GENERO] FOREIGN KEY([ID_GENERO])
REFERENCES [dbo].[GENERO] ([ID])
GO
ALTER TABLE [dbo].[JUEGO_GENERO] CHECK CONSTRAINT [FK_JUEGO_GENERO_GENERO]
GO
ALTER TABLE [dbo].[JUEGO_GENERO]  WITH CHECK ADD  CONSTRAINT [FK_JUEGO_GENERO_JUEGO] FOREIGN KEY([ID_JUEGO])
REFERENCES [dbo].[JUEGO] ([ID])
GO
ALTER TABLE [dbo].[JUEGO_GENERO] CHECK CONSTRAINT [FK_JUEGO_GENERO_JUEGO]
GO
ALTER TABLE [dbo].[PACK_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_PACK_DETALLE_JUEGO] FOREIGN KEY([ID_JUEGO])
REFERENCES [dbo].[JUEGO] ([ID])
GO
ALTER TABLE [dbo].[PACK_DETALLE] CHECK CONSTRAINT [FK_PACK_DETALLE_JUEGO]
GO
ALTER TABLE [dbo].[PACK_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_PACK_DETALLE_PACK] FOREIGN KEY([ID_PACK])
REFERENCES [dbo].[PACK] ([ID])
GO
ALTER TABLE [dbo].[PACK_DETALLE] CHECK CONSTRAINT [FK_PACK_DETALLE_PACK]
GO
USE [master]
GO
