@{
    ViewBag.Title = "Pack";
}
<div ng-view></div>

@section scripts{
    <script src="~/Scripts/appControllers/routeConfig.js"></script>
    <script src="~/Scripts/appControllers/packCtrl.js"></script>
}