
@{
    ViewBag.Title = "JuegoGeneroMain";
}
<div ng-view></div>

@section scripts{
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/appControllers/routeConfig.js"></script>
    <script src="~/Scripts/appControllers/juegoGeneroCtrl.js"></script>
}