
@{
    ViewBag.Title = "PackDetalleMain";
}
<div ng-view></div>

@section scripts{
    <script src="~/Scripts/appControllers/routeConfig.js"></script>
    <script src="~/Scripts/appControllers/packDetalleCtrl.js"></script>
}